@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Budget Tracker</h1>

<form method="post">

    <div>
        <label>Expense 1:</label>
        <input type="number" asp-for="Expense1">
    </div>

    <div>
        <label>Expense 2:</label>
        <input type="number" asp-for="Expense2">
    </div>

    <div>
        <label>Expense 3:</label>
        <input type="number" asp-for="Expense3">
    </div>

    <div>
        <label>Expense 4:</label>
        <input type="number" asp-for="Expense4">
    </div>

    <div>
        <label>Expense 5:</label>
        <input type="number" asp-for="Expense5">
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
    
</form>

<h2>Total expenses: @Model.TotalExpenses</h2>
