@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post">
    <div
        <label asp-for="Username">Username:</label>
        <input type="text" asp-for="Username" required>
    </div>

    <div>
        <label asp-for="Newsletter">Subscribe to the newsletter?</label>
        <input type="checkbox" asp-for="Newsletter">
    </div>

    <div></div>
        <button type="submit">Submit</button>
    </div>

</form>